.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2e2e2ee1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }